* {
    margin: 0;
}
body {
    font-family: "outfit";
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}

#container {
    height: 450px;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 5px 15px 40px hsl(220, 15%, 55%);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 10%;
}

img {
    width: 250px;
    height: auto;
    padding-top: 10%;
    border-radius: 10px;
}

h1 {
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    font-weight: 400;
    font-size: 0.9375rem;
    
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    color: hsl(220, 15%, 55%);
}

.attribution {
    position: absolute;
    bottom: 10%;
    text-align: center;
    margin-left: 10%;
}